node_modules
# React Native
ios/
android/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.xcuserstate
*.xcworkspace
*.xcodeproj
*.xcconfig
*.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
/fastlane/report.xml
/fastlane/test_output
/fastlane/screenshots
*.swp
*.swo

# React Native for Windows
windows/
*.sln
*.vcxproj*
*.vcxproj.filters
*.user
*.psess
*.vsp
*.pdb
*.ipch
*.obj
*.log
*.tlog
*.lastbuildstate
*.db
*.sdf
*.opensdf
*.cache
*.ilk
*.ncb
*.suo
*.VC.db
*.VC.VC.opendb

# React Native for Web
build/
dist/
out/
.next/
.cache/
public/static/
.expo/
.expo-shared/

# Extra
/db_*
jobs.db-shm
jobs.db-wal
